<div class="container">
    <div class="img-rounded home-header">Richard's 50th Birthday Party</div>

    <div class="center" style="width: 490px;"  ng-controller="MyController" ng-app="MyApp">    
        <div class="bg-primary img-rounded home-style">
            <div class="panel-heading">
                <h3 class="panel-title">User: {{user}}</h3>
            </div>
            <div class="panel panel-primary">
        
            <div class="panel-body">
                <form action="" onsubmit="checkIfInvited()" method="post" role="form">
                    <div class="checkbox hidden">
                        <label><input id="friday" type="checkbox"> Friday</label>
                    </div>
                    <div class="checkbox">
                        <label><input id="saturday" type="checkbox"> Saturday</label>
                    </div>
                    <div class="checkbox">
                        <label><input id="sunday" type="checkbox"> Sunday</label>
                    </div>
                    <button type="submit" class="btn btn-default">Submit</button>
                </form>
            </div>
        </div>
    </div> 
</div>